.homeContainer{
  display: flex;
  flex-direction: column;
  background-color: #001520;
  height: 100vh;
  padding: 0px 90px 0px 90px;
}

.f{
  color: white;
  line-height: 0;
  margin: 0.6em;
}
.fSmall{
  font-size: 15px;
}
.fMedium{
  font-size: 20px;
}
.fLight{
  font-weight: 100;
}

.userDetailsRow{
  display: flex;
  flex-direction: row;
  align-self: self-end;
  text-align: right;
  align-items: center;
  margin-top: 30px;
}
.avatar{
  width: 40px;
  border-radius: 60px;
}

.leaflet-container {
    height: 65vh;
    border-radius: 20px;
    border: 3px solid #04576e;
    background: #001521;
  }
/* .leaflet-tile { border: #030C11 solid; } */
/* .leaflet-tile { border: #343332 solid 0.1px } */
.leaflet-tile { border: #001521 solid 0.1px }

.leaflet-top{
  display: none;
}
.leaflet-bottom{
  display: none;
}